@keyframes shake {
  0% {
    transform: translateX(0);
  }
  12.5% {
    transform: translateX(-6px) rotateY(-5deg);
  }
  37.5% {
    transform: translateX(5px) rotateY(4deg);
  }
  62.5% {
    transform: translateX(-3px) rotateY(-2deg);
  }
  87.5% {
    transform: translateX(2px) rotateY(1deg);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
  }
  12.5% {
    -webkit-transform: translateX(-6px) rotateY(-5deg);
  }
  37.5% {
    -webkit-transform: translateX(5px) rotateY(4deg);
  }
  62.5% {
    -webkit-transform: translateX(-3px) rotateY(-2deg);
  }
  87.5% {
    -webkit-transform: translateX(2px) rotateY(1deg);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes shake {
  0% {
    -moz-transform: translateX(0);
  }
  12.5% {
    -moz-transform: translateX(-6px) rotateY(-5deg);
  }
  37.5% {
    -moz-transform: translateX(5px) rotateY(4deg);
  }
  62.5% {
    -moz-transform: translateX(-3px) rotateY(-2deg);
  }
  87.5% {
    -moz-transform: translateX(2px) rotateY(1deg);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
.shake {
  animation: shake 400ms ease-in-out;
}
.alert-pupup.ng-enter,
.alert-pupup.ng-leave {
  transition: 200ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  position: relative;
  display: block;
}
.alert-pupup.ng-leave.ng-leave-active,
.alert-pupup.ng-enter {
  transform: rotateX(-180deg) translatez(30px);
  opacity: 0;
  height: 0;
}
.alert-pupup.ng-enter.ng-enter-active,
.alert-pupup.ng-leave {
  transform: rotateX(0deg) translatez(30px);
  opacity: 1;
  height: 30px;
}
.view-content {
  transition: ease-in-out 0.2s;
}
.view-content.ng-enter,
.view-content.ng-leave-active,
.ng-hide {
  opacity: 0;
  height: 0;
}
.ng-enter-active,
.ng-leave {
  opacity: 1;
}
.fade-in {
  background-color: transparent;
  transition: background-color 600ms;
}
.nav-list li:hover .fade-in {
  background-color: #dddddd;
}
.nav-list a:hover {
  color: #ffffff;
}
.text-highlight {
  color: #333;
  background-color: #eee;
}
.text-highlight i {
  margin-right: 5px;
}
.text-highlight:hover {
  text-decoration: none;
  color: #888;
  background-color: #fff;
  transition: 500ms ease-out all;
}
.well-highlight {
  box-shadow: inset 0 1px 1px rgba(3, 3, 3, 0.05);
  border: 1px solid #e3e3e3;
  padding: 2px;
  margin: 4px;
  border-radius: 3px;
}
.well-highlight:hover {
  transition: 500ms ease-out all;
  border: 1px solid #fff;
  box-shadow: inset 0 1px 1px rgba(8, 8, 8, 0.05);
}
.well-highlight a {
  text-decoration: none;
}
.well-highlight a:hover,
.well-highlight a:visited,
.well-highlight a:link,
.well-highlight a:active {
  text-decoration: none;
}
