<!doctype html>
<html lang="en" ng-app="authServiceAdmin">
<head>
  <meta charset="utf-8">
  <title>Authorization</title>
  <link rel="stylesheet" href="/styles/app.css">
  <base href="/"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
</head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!--<div ng-controller="AlertCtrl" class="alert-list" ng-show="!!alerts">
  <alert class="alert-pupup" ng-repeat="(key,val) in alerts track by $index" type="{{key}}" close="closeAlert(key)">
    <div ng-repeat="msg in val track by $index">{{msg}}</div>
  </alert>
</div>-->

<div ng-class="{ 'app-aside-folded' : app.settings.asideFolded }" ng-controller="MainCtrl" ui-view></div>

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<!--<script src="bower_components/angular-loader/angular-loader.js"></script>-->
<!--<script src="bower_components/angular-scenario/angular-scenario.js"></script>-->
<!--<script src="bower_components/angular-touch/angular-touch.js"></script>-->
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/restangular/dist/restangular.js"></script>
<script src="bower_components/ngstorage/ngStorage.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="bower_components/angular-mousewheel/mousewheel.js"></script>
<script src="bower_components/hamsterjs/hamster.js"></script>
<script src="bower_components/angular-virtual-scroll/angular-virtual-scroll.js"></script>
<script src="bower_components/lodash/dist/lodash.js"></script>
<script src="bower_components/lodash/dist/lodash.compat.js"></script>
<script src="bower_components/lodash/dist/lodash.underscore.js"></script>
<script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>

<script src="scripts/app.js"></script>
<script src="scripts/controllers/common.js"></script>
<script src="scripts/controllers/auth.js"></script>
<script src="scripts/controllers/user.js"></script>
<script src="scripts/controllers/client.js"></script>
<script src="scripts/controllers/group.js"></script>
<script src="scripts/controllers/token.js"></script>
<script src="scripts/services/config.js"></script>
<script src="scripts/services/common.js"></script>
<script src="scripts/services/user.js"></script>
<script src="scripts/services/client.js"></script>
<script src="scripts/services/group.js"></script>
<script src="scripts/services/token.js"></script>
<script src="scripts/services/auth.js"></script>
<script src="scripts/directives/form-auto-fill-fix.js"></script>
<script src="scripts/directives/on-blur-change.js"></script>
<script src="scripts/directives/on-enter-blur.js"></script>
<script src="scripts/directives/sort-by.js"></script>
<script src="scripts/directives/error-handling.js"></script>
<script src="scripts/filters.js"></script>
<script src="scripts/routingConfig.js"></script>
</body>
</html>


