<div class="login">

  <form id="login-form" ng-show="!$storage.user.isLoggedIn" name="loginForm" method="post"
        ng-submit="login(credentials)" role="form" class="login-form form-horizontal" form-autofill-fix>
    <div class="row" ng-if="!$storage.user.isLoggedIn">

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
          <input id="login" type="text" name="login" ng-model="credentials.login" class="form-control"
                 placeholder="Login or Email" required autofocus>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
          <input id="password" type="password" name="password" ng-model="credentials.password"
                 class="form-control"
                 placeholder="Password" required>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">
            <input id="rememberMe" type="checkbox" name="rememberMe" ng-model="rememberMe" class="fa-fw">
          </span>
          <input type="text" name="rememberMeLabel" class="form-control" placeholder="Remember me" disabled>
        </div>
      </div>
      <div class="btn-group-lg">
        <button type="submit" class="btn btn-default btn-block"
                error-handling namespace="login" use-popover="true" placement="bottom">
          Log in
        </button>
      </div>
    </div>
    <div ng-if="$storage.user.isLoggedIn" class="form-group-lg">
      <div class="btn-group-lg">
        <button type="submit" class="btn btn-default btn-block" ng-click="logout()">Log Out</button>
      </div>
    </div>
  </form>
</div>
